<!DOCTYPE html>

<html lang="ja" dir="ltr" xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <meta charset="utf-8">
    <title>個別NG登録</title>
    <link rel="stylesheet" th:href="@{/css/admin.css}"type="text/css"></link>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" >
  </head>

  <body>

    <div class="full-page">

    <!-- ====テンプレート読み込み==== -->
    <div th:insert="admin/admin_navbar::template"></div>

    <div class="asin">

    <h1>個別NG登録</h1>

    <!--エラ〜メッセージ-->
    <p class="error_message"th:text="${message}"></p>

    <p>ASINまたはキーワードを入力してください。複数登録可能です。カンマ（,)で区別します。
    <br>入力後、NGキーワードもしくはNG ASIN選択してください。</p>
    <p>※注意：ASINとキーワードは同時に登録しないでください。</p>

    <form th:action="@{/insert_NG_word}"method="post"th:object="${ngForm}">
    <textarea rows="10"th:field="*{ngThings}" id="message" placeholder="例：加湿器,コンラクトレンズ動物用医薬品" name="comment" class="NG"></textarea>
    <br>

    <div class="cp_ipradio">
      <ul>
        <li>
          <label>
            <input type="radio" th:field="*{type}"value="WORD"class="option-input" name="cpipr06">
            キーワード
          </label>
          <label>
            <input type="radio" th:field="*{type}"value="ASIN"class="option-input" name="cpipr06">
            ASIN
          </label>
        </li>
      </ul>
    </div>
    <button type="submit" class="btn btn--blue">登録</button>
    </form>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    </div>
  </body>

 </html>