<!DOCTYPE html>

<html lang="ja" dir="ltr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <meta charset="utf-8">
    <title>Qoo10アカウント登録</title>
    <link rel="stylesheet" type="text/css" href="css/user.css"/>
    <link rel="stylesheet" media="all" th:href="@{/css/user.css}"type="text/css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" >
  </head>

<body>

  <div class="full-page">

    <!-- ====テンプレート読み込み==== -->
    <div th:insert="user/navbar::template"></div>

    <!--エラ〜メッセージ-->
    <p class="error_message"th:text="${message}"></p>

    <!-- Qoo10の販売者入力 -->
    <form method="POST" th:action="@{/account}"th:object="${form}">
      <div class="account">
        <p class="key">
          <i class="fas fa-user-alt person"></i>
          Qoo10アカウント登録
        </p>
      <div class="form_account">
      <div class="form-item2">
        <p>Eメールアドレスまたは販売者ID
        <input type="text" name="email" th:field="*{qooId}"></input>
        </p>
      </div>
      <div class="form-item2">
        <p>APIキー</p>
        <input type="text" name="key" th:field="*{apiKey}"></input>
      </div>
      <div class="form-item2">
        <p>パスワード</p>
        <input type="text" name="password" th:field="*{qooPass}"></input>
      </div>

      <button type="submit" class="btn btn--blue">登録</button>
      </div>
    </div>
   </form>

  </div>
</body>
</html>





