<!DOCTYPE html>

<html lang="ja" dir="ltr"xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

  <head>
    <meta charset="utf-8">
  </head>

  <body>

  <!-- ====ヘッダー（ナビゲーションバー==== -->
  <div th:fragment="template">

    <nav class="navbar">
      <div class="navbar-brand">
        <a th:href="@{/home}">
        <img th:src="@{/img/auto_seller_logo.png}" class="logo" alt="AutoSeller">
        </a>
      </div>
      <ul>
        <li class="nav-item">
          <p class="nav-link"th:text="${status}"></p>
        </li>
      </ul>
    </nav>

    <nav class="navbar navbar-expand-lg">
     <!--   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div  class="collapse navbar-collapse"id="navbarNavDropdown">-->
        <ul class="navbar-nav mr-auto" >
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toogle" id="navbarDropdownMenuLink"role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-search"></i><br>商品検索</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item"th:href="@{/search_by_url}" >URLで検索</a>
              <a class="dropdown-item" th:href="@{/search_by_asin}">ASINで検索</a>
              <a class="dropdown-item" th:href="@{/search_by_shop}">ショップで検索</a>
              <a class="dropdown-item" th:href="@{/search_for_test}">テスト用</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/exhibit}">
            <i class="fas fa-clipboard-list"></i><br>出品リスト</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/all_shipping_info}">
            <i class="fas fa-history"></i><br>注文履歴</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/set}">
            <i class="fas fa-cog"></i><br>各種設定 </a>
          </li>
          <li class="nav-item"role="presentation"sec:authorize="hasRole('ADMIN')">
            <a class="nav-link"th:href="@{'/home_admin'}">
            <i class="fas fa-user-cog"></i><br>管理者ページ</a>
          </li>
        </ul>
      <!--  </div>-->
    </nav>
  </div>

   <!-- Optional JavaScript -->
   <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</body>
</html>


