<!DOCTYPE html>

<html lang="ja" dir="ltr" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <meta charset="utf-8">
    <title>受注履歴</title>
    <link rel="stylesheet" th:href="@{/css/user.css}"></link>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
  </head>

  <body>

    <div class="full-page">

      <!-- ====テンプレート読み込み==== -->
      <div th:insert="user/navbar::template"></div>

      <div class="history">

        <h1>受注履歴</h1>

        <p class="error_message"th:text="${message}"></p>

        <table class="history"th:each="order:${orderList}">
          <tr>
            <th class="left">
              <p class="bottom">注文日</p>
              <p class="bottom line"th:text="${order.orderDate}"></p>
              <p class="bottom line">配達希望日</p>
              <p class="line" th:text="${order.hopeDate}"></p>
            </th>
            <th class="left" colspan="2">
              <p class="bottom"th:text="${order.shippingStatus}"></p>
              <p class="bottom line"th:text="${order.estShippingDate}"></p>
              <p class="bottom line"th:text="${order.shippingDate}"></p>
            </th>
            <th class="right">合計金額
              <div class="dropdown">
                <button class="btn dropdown-toggle" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                <p th:text="${order.total}"></p>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <li><p class="dropdown-item" th:text="${order.strOrderPrice}"></p></li>
                  <li><p class="dropdown-item" th:text="${order.strOrderQty}"></p></li>
                  <li><p class="dropdown-item" th:text="${order.strDiscount}"></p></li>
                </ul>
              </div>
            </th>
          </tr>
          <tr>
            <td colspan="2">
              <p class="bottom">商品名</p>
              <p class="line"th:text="${order.itemTitle}"></p>
            </td>
            <td class="send"><p th:text="${order.receiver}"></p></td>
            <td><p th:text="${order.buyer}"></p></td>
          </tr>
          <tr>
            <td colspan="2">
              <p class="bottom">注文番号</p>
              <p class="line"th:text="${order.orderNo}"></p>
            </td>
            <td>
              <p class="bottom"th:text="${order.shippingCountry}"></p>
              <p class="bottom line"th:text="${order.zipCode}"></p>
              <p class="bottom line" th:text="${order.shippingAddr}"></p>
              <p class="bottom line"th:text="${order.add1}"></p>
              <p class="bottom line"th:text="${order.add2}"></p>
              <p class="line" th:text="${order.subAddr}"></p>
            </td>
            <td>
              <p class="bottom"th:text="${order.buyerTel}"></p>
              <p class="line"th:text="${order.buyerMobile}"></p>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <p class="bottom">商品番号</p>
              <p class="line"th:text="${order.itemCode}"></p>
            </td>
            <td>
              <p class="bottom"th:text="${order.receiverTel}"></p>
              <p class="line"th:text="${order.receiverMobile}"></p>
            </td>
            <td>
              <p th:text="${order.buyerEmail}"></p>
            </td>
          </tr>
        </table>

      </div>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  </body>
</html>