<!DOCTYPE html>

<html lang="ja" dir="ltr"xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <meta charset="utf-8">
    <title>販売価格設定</title>
    <link rel="stylesheet" th:href="@{/css/user.css}"type="text/css"></link>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" >
  </head>

  <body>

    <div class="full-page">

    <!-- ====テンプレート読み込み==== -->
    <div th:insert="user/navbar::template"></div>

    <!--価格設定-->
    <h1>販売価格設定</h1>
    <form th:action="@{/qoo10_price}"th:object="${priceForm}"method="post">
      <div class="ex">
        <p>『Qoo10の販売価格＝Amazonの販売価格 × ○○％ ＋ 固定額』で販売価格を設定します。</p>
        <p class="ex"> 例）Amazon販売価格3000円以下の場合
        <br>　→2800円（Amazon販売価格）×５％＋1000円（固定額）＝3,940円（Qoo10の販売価格）</p>
      </div>

      <!--エラ〜メッセージ-->
      <p class="error_message"th:text="${message}"></p>

      <div class="config">
        <p class="sale">
          Amazon販売価格
          <input type="text" th:field="*{price1}"name="price" class="text "placeholder="例）1000">
          円以下の場合
        </p>
        <p class="sale_set">
          =Amazon販売価格 ×　
          <input type="text" th:field="*{rate1}"class="percent">%　 +
          <input type="text"th:field="*{fixing1}" placeholder="固定額">
          円
        </p>
      </div>
      <div class="config">
        <p class="sale">
          Amazon販売価格
          <input type="text" th:field="*{price2}"name="price" class="text "placeholder="例）2000">
          円以下の場合
        </p>
        <p class="sale_set">
          =Amazon販売価格 ×　
          <input type="text" th:field="*{rate2}"class="percent">%　 +
          <input type="text"th:field="*{fixing2}" placeholder="固定額">
          円
        </p>
      </div>
      <div class="config">
        <p class="sale">
          Amazon販売価格
          <input type="text" th:field="*{price3}"name="price" class="text "placeholder="例）3000">
          円以下の場合
        </p>
        <p class="sale_set">
          =Amazon販売価格 ×　
          <input type="text" th:field="*{rate3}"class="percent">%　 +
          <input type="text"th:field="*{fixing3}" placeholder="固定額" >
          円
        </p>
      </div>
      <div class="config">
        <p class="sale">
          Amazon販売価格
          <input type="text" th:field="*{price4}"name="price" class="text "placeholder="例）4000">
          円以下の場合
        </p>
        <p class="sale_set">
          =Amazon販売価格 ×　
          <input type="text" th:field="*{rate4}"class="percent">%　 +
          <input type="text"th:field="*{fixing4}" placeholder="固定額">
          円
        </p>
      </div>
      <div class="config">
        <p class="sale">
          Amazon販売価格
          <input type="text" th:field="*{price5}"name="price" class="text "placeholder="例）5000">
          円以下の場合
        </p>
        <p class="sale_set"
          >=Amazon販売価格 ×　
          <input type="text" th:field="*{rate5}"class="percent">%　 +
          <input type="text"th:field="*{fixing5}" placeholder="固定額">
          円
        </p>
      </div>
      <div class="config">
        <p class="sale">上記以上の場合</p>
        <p class="sale_set">
          =Amazon販売価格 ×　
          <input type="text" th:field="*{rate6}"class="percent">%　 +
          <input type="text"th:field="*{fixing6}" placeholder="固定額">
          円
        </p>
      </div>

      <div class="qoo10_button">
        <button type="submit" class="btn btn--blue">更新</button>
      </div>
    </form>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" ></script>

    </div>
  </body>
</html>
